test_cli*
.build/
.swiftpm/
*.xcodeproj
*.xcworkspace
.DS_Store
build-my/
.build-cdd/
.build/

# WASM build artifacts
bin/
build_wasm/

dl_test/
docs/
doc_generator.py
doc_generator2.py
update_shields.py

*.wasm
